<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshMart - Login</title>
</head>
<script>
    function togglePassword(){
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" id = "password" required><br>
        <input type="checkbox" onclick="togglePassword()">Show Password
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up here</a></p>
</body>
</html>
