@import url(https://fonts.googleapis.com/css?family=New+Amsterdam:regular);
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "New Amsterdam",sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "New Amsterdam",sans-serif;
    font-size: large;
    background-color: #f5f5f5;
  }
  
  .container {
    margin-top:12.5%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
  }
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border: 2px solid #007bff;
  }
  input[type="checkbox"]{
    padding:10px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  h5 {
    text-align: center;
    margin-top: 20px;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }